<section class="h-full min-h-screen text-gray-400 bg-[#050a1d]">
  <div class="container px-5 py-32 md:py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <div class="flex items-center gap-1">
          <img src="assets/person-vcard.webp" alt="assets/person-vcard.webp" class="w-4 text-red-200" draggable="false">
          <span class="text-[.7rem] font-medium title-font text-white">Hello I's Me :</span>
          <span class="text-[.7rem] font-medium title-font text-white underline">{{full}}</span>
        </div>
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">{{title}}</h1>
        <div class="h-1 w-20 bg-purple-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-400 text-opacity-90 md:flex flex-col items-center justify-center gap-2">
        <img src="assets/main_ppek.webp" alt="PPekKunGz_Logo" class="w-64 filter drop-shadow" draggable="false">
        {{desc}}
      </p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/720x400" alt="content">
          <h3 class="tracking-widest text-purple-400 text-xs font-medium title-font">{{title}}</h3>
          <h2 class="text-lg text-white font-medium title-font mb-4">20202092</h2>
          <p class="leading-relaxed text-base">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum perferendis dolor quas! Quam nostrum magnam obcaecati quaerat placeat tempora voluptates mollitia.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/721x401" alt="content">
          <h3 class="tracking-widest text-purple-400 text-xs font-medium title-font">{{title}}</h3>
          <h2 class="text-lg text-white font-medium title-font mb-4">20202092</h2>
          <p class="leading-relaxed text-base">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum perferendis dolor quas! Quam nostrum magnam obcaecati quaerat placeat tempora voluptates mollitia.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/722x402" alt="content">
          <h3 class="tracking-widest text-purple-400 text-xs font-medium title-font">{{title}}</h3>
          <h2 class="text-lg text-white font-medium title-font mb-4">20202092</h2>
          <p class="leading-relaxed text-base">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum perferendis dolor quas! Quam nostrum magnam obcaecati quaerat placeat tempora voluptates mollitia.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/723x403" alt="content">
          <h3 class="tracking-widest text-purple-400 text-xs font-medium title-font">{{title}}</h3>
          <h2 class="text-lg text-white font-medium title-font mb-4">20202092</h2>
          <p class="leading-relaxed text-base">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum perferendis dolor quas! Quam nostrum magnam obcaecati quaerat placeat tempora voluptates mollitia.</p>
        </div>
      </div>
    </div>
  </div>
</section>